{% extends 'main/base.html' %} 

{% block content %} 

<div class="container">
    <div class="row">
        <h2>Create Forum Post</h2>
        <form method="POST" action="/create/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title.label }} {{ form.title }}
            {{ form.text.label }} {{ form.text }}
            {{ form.s_or_t }}
            {{ form.picture }}
            <button type="submit" name="create" class="btn btn-primary">Create Post</button>
        </form>
    </div>
</div>

{% endblock %}