{% extends 'main/base.html' %} 

{% block content %} 

<div class="container">
    <div class="row">
        <h1 class="text-center pt-1">Forums</h1>
        <h2>Create Post</h2>
        <form method="POST" action="/create/" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.title}}
            {{form.text}}
            {{form.picture}}
            <button type="submit" name="create" class="btn btn-primary">Create Post</button>
        </form>
    </div>
</div>

{% endblock %}