{% extends 'main/base.html' %} 

{% block content %} 

<div class="container">
    <h1 class="text-center mt-3">Forums</h1>
        {% for p in ls %}
            <div class="row teeth_post">
                <div class="col-lg-3 pb-2 thumbnail">
                    <h3>{{ p.title }}</h3>
                    {% if p.picture != '' %}
                        <img src="../../../{{ p.picture }}" class="teeth_pics" alt="user uploaded picture">
                    {% else %}
                        <img src="../../static/images/default_shark.jpg" class="teeth_pics" alt="default picture of shark">
                    {% endif %}
                </div>
                <div class="describe col-lg-9">
                    <p>{{ p.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}