{% extends 'main/base.html' %}

{% block content %}

    <div class="container-fluid p-0">
        <div class="home-img-container">
            <img class="img-fluid d-block d-sm-none shark-bg" src="../../static/images/shark_bg.jpg" alt="shark swimming in the ocean">
            <img class="img-fluid d-none d-sm-block shark-bg" src="../../static/images/shark_bg_small.jpg" alt="shark swimming in the ocean">
            <h1 class="home-heading">Join the Shark Teeth Community</h1>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
        </p>
    </div>

{% endblock %}