{% extends 'main/base.html' %}

{% block content %}

    <div class="container-fluid p-0">
        <div class="home-img-container">
            <h1 class="home-heading text-center">Join the Beachgoers' Community</h1>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus dolorem perspiciatis in inventore voluptatum quaerat ea amet 
            placeat? Quisquam, voluptates! Adipisci eos molestiae error officia aut veniam sequi, ad pariatur.
        </p>
    </div>

{% endblock %}