{% extends 'main/base.html' %}

{% block content %}

<div class="container">

    <div>
        <h1 class="text-center mt-3">{{ s.name }}</h1>
        {% for sh in page_obj %}
            <div class="row teeth_post">
                <div class="col-lg-3 pb-2 thumbnail">
                    <h3>{{ sh.title }}</h3>
                    {% if sh.picture != '' %}
                        <img src="../../../{{ sh.picture }}" class="teeth_pics" alt="user uploaded picture">
                    {% else %}
                        <img src="../../static/images/shell_default.jpg" class="teeth_pics" alt="default picture of shark">
                    {% endif %}
                    <p class="mb-1">Author: <a class="author_links" href="{% url 'any_profile' sh.user.id %}">{{ sh.user }}</a></p>
                    <p class="mb-1">Created: {{ sh.date_created|date:"SHORT_DATE_FORMAT" }}</p>
                </div>
                <div class="describe col-lg-9">
                    <p>{{ sh.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-3">
        <span class="page_links">
            {% if page_obj.has_previous %} <!-- If the current page is not the first page -->
                <a href="?page=1">&laquo;First</a> <!-- Link to first page -->
                <a href="?page={{ page_obj.previous_page_number }}">
                    <button>&lt Previous</button> <!-- Link to page before current page -->
                </a>
            {% endif %}

            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                {% comment %} 
                    This span displays current page number and total number of pages
                    Example: Page 1 of 2
                    Note: This element appears no matter what number page you are on    
                {% endcomment %}
            </span>

            {% if page_obj.has_next %} <!-- If current page is not the last page -->
                <a href="?page={{ page_obj.next_page_number }}">
                    <button>Next ></button>
                </a> <!-- Link to the page after current page -->
                <a href="?page={{ page_obj.paginator.num_pages }}">Last&raquo;</a> <!-- Link to final page -->
            {% endif %}
        </span>
    </div>

</div>

{% endblock %}