{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <h1 class="text-center mt-3">{{ s.name }}</h1>
        {% for sh in shell_posts %}
            <div class="row teeth_post">
                <div class="col-lg-3 pb-2 thumbnail">
                    <h3>{{ sh.title }}</h3>
                    {% if sh.picture != '' %}
                        <img src="../../../{{ sh.picture }}" class="teeth_pics" alt="user uploaded picture">
                    {% else %}
                        <img src="../../static/images/shell_default.jpg" class="teeth_pics" alt="default picture of shark">
                    {% endif %}
                    <p class="mb-1">Author: <a class="author_links" href="{% url 'any_profile' sh.user.id %}">{{ sh.user }}</a></p>
                    <p class="mb-1">Created: {{ sh.date_created|date:"SHORT_DATE_FORMAT" }}</p>
                </div>
                <div class="describe col-lg-9">
                    <p>{{ sh.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}