{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <h1 class="text-center mt-3">{{ t.name }}</h1>
        {% for p in s_posts %}
            <div class="row teeth_post">
                <div class="col-lg-3 pb-2 thumbnail">
                    <h3>{{ p.title }}</h3>
                    {% if p.picture != '' %}
                        <img src="../../../{{ p.picture }}" class="teeth_pics mb-1" alt="user uploaded picture">
                    {% else %}
                        <img src="../../static/images/default_shark.jpg" class="teeth_pics mb-1" alt="default picture of shark">
                    {% endif %}
                    <p class="mb-1">Author: <a class="author_links" href="{% url 'any_profile' p.user.id %}">{{ p.user }}</a></p>
                    <p class="mb-1">Created: {{ p.date_created|date:"SHORT_DATE_FORMAT" }}</p>
                </div>
                <div class="describe col-lg-9">
                    <p>{{ p.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}