/* Base.html */

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif
}

.nav-link {
    text-decoration: none;
    color: white;
}
  
.nav-link:hover {
background-color: white;
color: black;
}

#search-box {
    background-color: grey;
    color: white;
}

::placeholder {
    color: white;
}

/* Home.html */

.home-img-container {
    background: linear-gradient(90deg,
    rgba(75, 41, 0, 0.5) 100%,
    rgba(8, 209, 192, 0.616) 100%),
    url('../images/shark_bg_2000.jpg') no-repeat center fixed;
    background-size: cover;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Forum.html */

.f_container a {
    color: black;
    text-decoration: none;
}

.f_container a:hover {
    color: yellow;
}

/* Teeth.html/Shells.html */

.teeth_post {
    border: solid 4px black;
    border-radius: 10px;
    margin-top: 25px;
}

.teeth_pics {
    height: 150px;
    width: 150px;
    border: solid 2px black;
    border-radius: 10px;
}

/* Registration.html */

.r_container {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.register_form input {
    width: 100%;
    height: 40px;
    border: solid 3px black;
    margin-bottom: 10px;
    background-color: rgb(207, 207, 207);
}

.register_form input::placeholder {
    color: rgb(77, 77, 77);
}

#create_form {
    width: 60%;
} 

#create_button {
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    min-width: 125px;
}

.r_shell {
    height: 60px;
}

/* Media Queries */

/* Base.html */

@media screen and (max-width: 575px) {
    .search-container {
        padding-bottom: 10px;
    }
    .nav {
        text-align: center;
    }
}

/* Registration.html */

@media screen and (max-width: 575px) {
    #create_form {
        width: 90%;
    }
}

@media screen and (max-width: 991px) {
    #create_form {
        width: 90%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1000px) {
    #create_form {
        width: 65%;
    }
}